body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to right, #d8e3e7, #51c4d3);
  font-family: "Roboto", "Helvetica", sans-serif;
}
main {
  position: absolute;
  top: -18px;
  left: 0;
  bottom: 0;
  width: 50px;
  background: #171717;
}

#canvas {
  width: 800px;
  height: 600px;
  background: white;
  margin: 0;
  border-bottom: #171717 solid 5px;
  border-right: #171717 solid 5px;
  cursor: crosshair;
}

#drawing-name {
  margin-left: 55px;
}

main section {
  display: block;
  margin: 15px auto;
  width: 30px;
  height: 30px;
}
main #colors {
  background: #171717;
  border: 1px solid #f3f3f3;
  position: relative;
}

main #colors #color-picker {
  display: none;
  position: absolute;
  left: 10px;
  top: 57px;
  height: 115px;
  width: 200px;
  padding-left: 45px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
main #colors #color-picker:focus {
  display: block;
}
main #colors:hover #color-picker {
  display: block;
}

main #colors #color-picker .color-option {
  display: block;
  border: #171717 solid 2px;
  margin-left: 10px;
  margin-bottom: 15px;
  padding: 0;
  width: 30px;
  height: 30px;
}

main .colors #color-picker #custom-color {
  display: block;
  border: #171717 solid 2px;
  margin-left: 10px;
  width: 100px;
  padding: 0;
  text-align: center;
}

main #thickness {
  position: relative;
  background-color: #f3f3f3;
}
main #thickness::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background: #171717;
}
main #thickness #stroke-weight {
  display: none;
  position: absolute;
  width: auto;
  height: 25px;
  left: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

main #thickness #stroke-weight:focus {
  display: block;
}

main #thickness:hover #stroke-weight {
  display: block;
}

main #clearBtn {
  display: block;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  color: #171717;
  font-size: 20px;
  font-weight: 900;
  background-color: #ffce00;
  border: none;
  outline: none;
  cursor: pointer;
}

main #clearBtn::after {
  position: relative;
  top: 0;
  bottom: 0;
  left: -8px;
  right: 0;
  content: "\274c";
  font-size: 25px;
  color: #171717;
  line-height: 0px;
  text-align: center;
}

main #saveBtn {
  display: block;
  width: 30px;
  height: 30px;
  color: #171717;
  font-size: 20px;
  font-weight: 900;
  background-color: #ffce00;
  border: none;
  outline: none;
  cursor: pointer;
}

main #saveBtn::after {
  content: "S";
  font-size: 25px;
  color: #171717;
  line-height: 0px;
}

main #uploadBtn {
  display: block;
  width: 30px;
  height: 30px;
  font-size: 20px;
  font-weight: 900;
  background-color: #ffce00;
  border: none;
  outline: none;
  cursor: pointer;
}

main #uploadBtn::after {
  content: "U";
  font-size: 25px;
  color: #171717;
  line-height: 0px;
}
